h2 {
	text-align: center;
}

i:hover {
	cursor: pointer;
}

i {
	position: absolute;
	right: 40px;
}

.offer-modal {
	position: relative;
}

.url {
	overflow-wrap: break-word;
	padding: 5px;
	border: 1px solid black;
	color: blue;
	margin: 5px;
}